@use '../../styles/scss/base/variables' as v;

.form_container{
    position: relative;
    // background-color: red;

    form{
        display:flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width:100%;
        margin-top:2rem;
        border: 1px solid v.$c_primary_a;
        border-radius: 30px;
        overflow: hidden;
        padding-left: 1.5rem;
    
        &.error{
            border: 2px solid v.$c_primary_b;
        }
    
            .email_input{
                height: 100%;
                background:transparent;
                border: none;
                width:60%;
                
                &:focus{
                    outline: none;
                }
            &::placeholder{
                color:v.$c_primary_a;
                opacity: 0.8;

            }
        }    
    
       .error_btn{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:10px;
        background:transparent;
        height:100%;
        flex: 1;

            .errorIMG{
                display: none;

                &.error{
                    display:block;
                }
            }
        
           button{
            @include v.gradient_B();
            display: inline-block;
            border-radius:40px;
            border:none;
            height:100%;
            width:80px;
    
                img{
                    height:20px;
                    margin: auto;
                    display:block;
                }
           }
       }
    }
    .feedback-error{
        color:v.$c_primary_b;
        position:absolute;
        left:0;
        margin-top:0.5rem;
        font-size:0.8em;
        padding-left:1.5rem;
    }
}