@use '../../styles/scss/base/variables' as v;

form{
    display:flex;
    align-items: center;
    position:relative;
    width:100%;
    margin-top:2rem;

    .email_input{
        width:100%;
        border: 1px solid v.$c_primary_a;
        color:red!important;
        border-radius:50px;
        padding:1rem;
    }    
    button{
        @include v.gradient_B();
        position:absolute;
        display: grid;
        place-items: center;
        width:60px;
        height:100%;
        border-radius:40px;
        border:none;
        right:0;

        img{
            height:40%;
            width:auto;
            display:block;
        }
    }
}