@use './variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-size:16px;
    font-family: "Josefin Sans", sans-serif;

    main{
        
        h1{
            font-weight:v.$fw_bold;

            .highlight{
                font-weight:v.$fw_light;
            }
        }
    }
}